*{
    
    font-family:Arial, Helvetica, sans-serif ; 
}

.perfil{
    background-color: rgb(36, 37, 40);
    border-radius: 10px;
}
.perfil img{
    height: 250px;
    margin: 0px 5px 0px 0px;
}

i{
    padding: 6px;
transform: scale(1.5);
}
    

.icones{
    color: aliceblue;
    border-radius: 5px;
    padding: 0px 2px;
}

.bg{
    padding: 0px 20px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(36, 37, 40);
}
.minirepositorio{
    display: flex;
    flex-wrap: wrap;
    
}
.repositoaqui{
    width: 40%;
}

